[submodule "lib/js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "lib/cperl-mode"]
	path = lib/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "lib/gnus"]
	path = lib/gnus
	url = http://git.gnus.org/gnus.git/
[submodule "lib/auto-complete"]
	path = lib/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "lib/delim-kill"]
	path = lib/delim-kill
	url = http://github.com/thomas11/delim-kill.git
[submodule "lib/smart-tab"]
	path = lib/smart-tab
	url = git@github.com:genehack/smart-tab.git
[submodule "lib/anything"]
	path = lib/anything
	url = git://repo.or.cz/anything-config.git
[submodule "lib/flymake-perlcritic"]
	path = lib/flymake-perlcritic
	url = git@github.com:genehack/emacs-flymake-perlcritic.git
[submodule "lib/flymake"]
	path = lib/flymake
	url = git@github.com:genehack/emacs-flymake.git
