[submodule "lib/js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "lib/cperl-mode"]
	path = lib/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "lib/maxframe"]
	path = lib/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
[submodule "lib/textmate"]
	path = lib/textmate
	url = https://github.com/defunkt/textmate.el.git
[submodule "lib/coffee-mode"]
	path = lib/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "lib/gnus"]
	path = lib/gnus
	url = http://git.gnus.org/gnus.git/
[submodule "lib/auto-complete"]
	path = lib/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "lib/delim-kill"]
	path = lib/delim-kill
	url = http://github.com/thomas11/delim-kill.git
[submodule "lib/smart-tab"]
	path = lib/smart-tab
	url = git@github.com:genehack/smart-tab.git
[submodule "lib/markdown-mode"]
	path = lib/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "lib/solarized"]
	path = lib/solarized
	url = https://github.com/sellout/solarized/
[submodule "lib/anything"]
	path = lib/anything
	url = git://repo.or.cz/anything-config.git
[submodule "lib/flymake"]
	path = lib/flymake
	url = https://github.com/illusori/emacs-flymake
