[submodule "lib/js2-mode"]
	path = lib/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "lib/cperl-mode"]
	path = lib/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule "lib/maxframe"]
	path = lib/maxframe
	url = https://github.com/rmm5t/maxframe.el.git
